ExchangeClient/src/wsdl/localhost_8080/ExchangeService/ExchangeService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://exchange/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://exchange/">

<xs:element name="exchangeCurrency" type="tns:exchangeCurrency"/>

<xs:element name="exchangeCurrencyResponse" type="tns:exchangeCurrencyResponse"/>

<xs:element name="getExchangeRate" type="tns:getExchangeRate"/>

<xs:element name="getExchangeRateResponse" type="tns:getExchangeRateResponse"/>

<xs:complexType name="exchangeCurrency">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="fromCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="toCurrency" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="exchangeCurrencyResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExchangeRate">
<xs:sequence>
<xs:element name="fromCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="toCurrency" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExchangeRateResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>